body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    border-color: #cccccc;
    height: 100%;
    background-image: url("../images/beige-tiles/beige-tiles.png");
    background-repeat: repeat;
}

.border-2 {
    border-width:2px !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

img {
    max-width: 100%;
}

header {
    background-color: #ffffff;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 0.5em 1em;
}

#logo {
    color: #ffffff;
}

.page-title {
    color: #4aaaa5;
}

nav {
    max-width: 960px;
}

.container {
    max-width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}