body {
    background-color: white;
    text-align: center;
    vertical-align: middle;
}
  
.header {
    position: fixed;
    background-color: grey;
    width: 100%;
    top: 0px;
}
  
.footer {
    position: fixed;
    background-color: green;
    width: 100%;
    bottom: 0px;
}
  
section {
    margin-top: 2.5em;
    padding-top: 25vh;
    padding-bottom: 25vh;
}
  
#left {
    float: left;
    background-color: blue;
    width: 50%;
}
  
#right {
    float: right;
    background-color: red;
    width: 25%;
}